
body {
	h1 {
		font-family: 'Kaushan Script', cursive;
		font-size: 42px;
	}
	p {
		font-family: 'K2D', sans-serif;
		font-size: 16px;
	}
	.legenda {
		font-family: 'K2D', sans-serif;
		font-weight: 400;
		font-size: 20px;
	}
}

.navbar-toggle {
	background-color: #e7e7e7;

}

.navbar {
	&.navbar-default {
		font-family: 'K2D', sans-serif;
		font-weight: 800;
		width: 100%;
		z-index: 6;
		top: 0;
		margin-bottom: 0;
		position: fixed;
		background-color: transparent;
		border: none;

		.navbar-collapse, .navbar-default .navbar-form {
			background-color: #fff;
			@media screen and (min-width: 992px) {
				background-color: transparent;
			}
		}

		&.navbar-toggle {
			background-color: #e7e7e7;
			border-color: #ddd;
		}

		@media screen and (min-width: 992px) {
			background-color: transparent;
			border-color: transparent;
			font-size: 16px;
			text-transform: uppercase;
			padding-top: 30px;
			.navbar-nav {
				margin: 0 auto;
				display: table;
				float: unset;
			}
			.navbar-nav > li {
				margin-right: 15px;
			}
			.active a {
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}
			}
			.navbar-nav > li > a {
				color: #fff;

				&:hover {
					color: #e7e7e7;
				}
			}
		}
		@media screen and (min-width: 1920px) {
			.navbar-nav > li {
				margin-right: 30px;
			}
		}

		.col-xs-3 {
			display: none;
		}
	}
	&.affix {
		top: 0;
		transition: all .5s;
	}
	@media screen and (min-width: 992px) {
		transition: all .5s;
		&.affix {
			top: 0;
			width: 100%;
			transition: all .5s;
			background-color: #e7e7e7;
			border-color: #e7e7e7;
			position: fixed;
			padding-bottom: 20px;
			z-index: 100;

			.navbar-nav > li > a {
				color: #777;

				&:hover {
					color: #777;
				}
			}
		}
	}
}

.header {
	@media screen and (min-width: 992px) {
		margin-top: 0;
		margin-bottom: 10px;
	}
	&__title {
		background-image: url("../img/banner1.png");
		background-position-x: center;
		background-size: cover;
		height: 300px;
		@media screen and (min-width: 992px) {
			background-image: unset;
			height: 545px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position-x: center;
			background-position-y: bottom;
		}
		@media screen and (min-width: 1920px) {
			height: 400px;
		}
	}
	&__title:after {
		background-color: orange;
		content: "";
		width: 100%;
		height: 10px;
		position: absolute;
		top: 280px;
		left: 0;
		@media screen and (min-width: 992px) {
			display: none;
		}
	}
	&__title h6 {
		color: #fff;
		text-align: center;
		font-family: 'K2D', sans-serif;
		margin-right: 50px;
		@media screen and (min-width: 992px) {
			margin-right: unset;
			position: absolute;
			z-index: 5;
			right: 335px;
			top: 5px;
		}
	}
	&__title h1 {
		color: #fff;
		text-align: center;
		text-shadow: 1px 1px #000;
		@media screen and (min-width: 992px) {
			position: relative;
			top: -365px;
			font-size: 52px;
		}
	}
	&__title__button {
		width: 160px;
		margin: auto;
		@media screen and (min-width: 992px) {
			position: relative;
			top: -385px;
		}
		.logo {
			display: block;
			@media screen and (min-width: 992px) {
				display: none;
			}
		}
		.logo2 {
			display: none;
			@media screen and (min-width: 992px) {
				display: block;
				width: 160px;
			}
		}
	}
	&__title__button img {
		margin: auto;
		margin-top: 25px;
		@media screen and (min-width: 992px) {
			margin-top: 0;
		}
	}
	.main-carousel {
		display: none;
		@media screen and (min-width: 992px) {
			display: block;
			width: 105%;
			z-index: -1;
			left: -20px;
		}
		.flickity-button {
			display: none;
		}
		.flickity-viewport {
			min-height: 585px !important;
		}
		.flickity-page-dots {
			display: none;
		}
		.carousel-cell {
			width: 100%;
			height: 400px;
			border-radius: 5px;

			img {
				width: 100%;
				height: auto;

				@media screen and (min-width: 768px) {
					min-height: 600px;
					object-fit: cover;
				}
			}
		}
	}
}

.nossa-historia {
	background-color: #007380;
	position: relative;
	top: -10px;
	@media screen and (min-width: 992px) {
		background-image: url(../img/bg-nossa-historia.png);
		background-size: cover;
		height: 500px;
		background-color: unset;
		background-position-x: center;
		position: relative;
		margin-top: -68px;

		&.col-xs-12 {
			margin-top: 10px;
		}
	}
	@media screen and (min-width: 1920px) {
		height: 580px;
		margin-top: 90px;
	}
	&__text {
		padding-top: 10px;
		padding-bottom: 25px;
		@media screen and (min-width: 992px) {
			padding-top: 75px;
			padding-left: 100px;

			@-moz-document url-prefix() {
				padding-top: 15px;
			}
		}
		@media screen and (min-width: 1920px) {
			padding-top: 150px;
		}
	}
	&__text h1 {
		text-align: center;
		color: #fff;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	&__text p {
		text-align: justify;
		color: #fff;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
}

.eventos {
	background-color: #E99F0B;
	position: relative;
	top: -10px;
	height: 730px;
	z-index: 1;
	@media screen and (min-width: 992px) {
		background-image: url(../img/bg-eventos.png);
		background-size: cover;
		height: 500px;
		background-color: unset;
		background-position-x: center;
		position: relative;
		margin-top: -170px;
		@-moz-document url-prefix() {
			.col-xs-12 {
				top: -20px;
			}
		}
	}
	@media screen and (min-width: 1920px) {
		height: 580px;
		margin-top:-200px;
	}
	&__text {
		padding-top: 10px;
		padding-bottom: 25px;
		@media screen and (min-width: 992px) {
			padding-top: 175px;
			padding-left: 105px;
		}
		@media screen and (min-width: 1920px) {
			padding: 250px 0 0 250px;
		}
	}
	&__text h1 {
		text-align: center;
		color: #000;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	&__text p {
		text-align: justify;
		color: #000;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	.btn-contato {
		text-decoration: none;
		color: #000;
		padding: 5px 20px 5px 20px;
		border-style: solid;
		border-color: #000;
		border-width: 1px;
		border-radius: 6px;
		font-weight: bold;
	}
	&__quadros {
		margin-top: 10px;
		@media screen and (min-width: 992px) {
			transform: scale(1.2);
			position: relative;
			bottom: -50px;
		}
		@media screen and (min-width: 1920px) {
			transform: scale(1.4);
			position: relative;
			bottom: -130px;
		}
		.main-carousel {
			position: relative;
			top: -265px;
			z-index: -1;
			display: block;
			margin: auto;
			width: 150px;
			transform: scale(1.3);

			@media screen and (min-width: 992px) {
				transform: unset;
			}
			.flickity-viewport {
				height: 195px !important;
				width: 100%;
				@media screen and (min-width: 992px) {
					height: 340px !important;
					width: 121%;
				}
			}
			.carousel-cell {
				width: 100%;
				height: 200px;
				margin-right: 10px;
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 150px;
				height: 92%;
			}
			.flickity-prev-next-button.previous {
				left: -70px;
				display: none;
				@media screen and (min-width: 992px) {
					left: -90px;
				}
			}
			.flickity-prev-next-button.next {
				right: -58px;
				display: none;
				@media screen and (min-width: 992px) {
					right: -120px;
				}
			}
		}
		.moldura {
			height: 350px;
			display: block;
			margin: auto;
			transform: rotateZ(-6deg);
		}
		.moldura2 {
			display: none;
		}

		@media screen and (min-width: 992px) {
			.main-carousel {
				top: -575px;
				z-index: -5;
				width: 300px;
				margin-right: 170px;
				@media screen and (min-width: 1920px) {
					margin-right: 255px;
				}
				.flickity-page-dots {
					top: 340px;
				}
				.img-responsive {
					height: 75%;
				}
			}
			.moldura {
				height: 330px;
				width: auto;
				position: relative;
				top: 130px;
				left: -110px;
			}
			.moldura2 {
				height: 330px;
				position: relative;
				top: -205px;
				left: 82px;
				z-index: -1;
				display: block;
				margin: auto;
				-webkit-transform: rotateZ(-6deg);
				-ms-transform: rotate(-6deg);
				transform: rotateZ(-6deg);
			}
		}
	}
}

.nossos-produtos {
	position: relative;
	top: -550px;
	height: 750px;
	@media screen and (min-width: 992px) {
		background-image: url(../img/bg-produtos.png);
		background-size: cover;
		height: auto;
		position: relative;
		background-position: bottom;
		z-index: -2;
		margin-top: -580px;
		margin-bottom: 40px;
		.col-xs-12 {
			position: relative;
			top: unset;
			margin-top: -360px;
			@media screen and (min-width: 1920px) {
				margin-top: 50px;
			}
		}
	}
	&__text {
		padding-top: 375px;
		padding-bottom: 25px;
		@media screen and (min-width: 1920px) {
			padding: 60px 0 40px 50px;
		}
		@media screen and (min-width: 768px) {
			&-drive {
				margin-left: 30px;
			}
		}
	}
	&__text h1 {
		text-align: center;
		color: #000;
		margin-top: -10px;
		margin-bottom: 25px;
		padding-top: 50px;
		@media screen and (min-width: 992px) {
			text-align: left;
			margin-top: 20px;
		}
	}
	&__text p {
		text-align: justify;
		color: #000;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	.main-carousel {
		display: block;
		@media screen and (min-width: 992px) {
			display: none;
		}
		.flickity-button {
			display: block;
		}
		.flickity-page-dots {
			display: block;
		}
		.flickity-button {
			background-color: #000;
		}
		.flickity-button-icon {
			fill: #fff;
		}
		.flickity-viewport {
			height: 230px !important;
		}
		.flickity-fullscreen-button-view {
			display:none;
		}
		.flickity-fullscreen-button-exit {
			display:none;
		}
		.carousel-cell {
			width: 100%;
			height: 200px;
			margin-right: 10px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			.legenda {
				position: absolute;
				top: 200px;
				font-size: 18px;
			}
		}
	}
	&__produtos {
		display: none;
		@media screen and (min-width: 992px) {
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			justify-content: space-around;
			position: relative;
			.produto {
				list-style: none;
				flex: 0 0 26%;
				display: grid;
				margin-bottom: 55px;
				text-align: center;
			}
			.produto img {
				height: auto;
				margin: 0 auto;
			}
			.produto span {
				position: relative;
				top: 5px;
			}
		}
	}
}

.flickity-fullscreen-button {
	display: none;
}
.carousel-molduras {
	.flickity-fullscreen-button-view {
		display: none;
	}
	&.is-fullscreen {
		z-index: 5555;

		.carousel-cell {
			width: 100%;

			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}
}
.botao-abrir-carousel {
	position: absolute;
	z-index: 555555;
	top: 60px;
	right: 95px;
	transform: scale(0.8);
	@media screen and (min-width: 992px) {
		position: relative;
		z-index: 555555;
		top: -475px;
		left: 405px;
		transform: scale(0.7);
	}
	@media screen and (min-width: 1920px) {
		position: relative;
		z-index: 555555;
		top: -480px;
		left: 480px;
		transform: scale(0.7);
	}
}

.clube {
	background-color: #006869;
	position: relative;
	height: 315px;
	@media screen and (min-width: 992px) {
		@-moz-document url-prefix() {
			.col-xs-12 {
				margin-top: -550px;
			}
		}
	}
	img {
		display: none;
	}
	.input-clube {
		color: #fff;
		border-style: solid;
		border-color: #fff;
		background-color: transparent;
		margin-bottom: 10px;
	}
	.btn-clube {
		color: #fff;
		border-style: solid;
		border-color: #fff;
		background-color: transparent;
	}
	@media screen and (min-width: 992px) {
		height: 700px;
		position: relative;
		margin-top: -550px;

		img {
			display: block;
			position: absolute;
			top: -40px;
			left: 0;
			height: 525px;
		}
		@-moz-document url-prefix() {
			img{
				top: -10px;
			}
		}
		form {
			display: inline-flex;
			margin-top: 40px;
			.input-clube {
				width: 375px;
			}
			.btn-clube {
				width: 150px;
				margin-left: 10px;
			}
		}
	}

	@media screen and (min-width: 1920px) {
		img {
			height: auto;
		}
	}
	&__text {
		position: relative;
		top: -440px;
		@media screen and (min-width: 992px) {
			position: unset;
			padding-left: 180px;
			padding-top: 80px;

			@-moz-document url-prefix() {
				padding-top: 110px;
			}
		}
		@media screen and (min-width: 1920px) {
			padding-left: 210px;
			padding-top: 165px;
		}
	}
	&__text h1 {
		text-align: center;
		color: #fff;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	&__text p {
		text-align: justify;
		color: #fff;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
}

.contato {
	background-color: #dbdbdb;
	height: auto;
	&__localizacao {
		iframe {
			width: 100%;
			height: auto;
		}
		margin-bottom: 40px;
	}
	&__localizacao h1 {
		text-align: center;
		margin-top: 50px;
		@media screen and (min-width: 992px) {
			text-align: left;
			margin-top: 20px;
		}
	}

	@media screen and (min-width: 992px) {
		min-height: 660px;
		background-image: url(../img/bg-contato.png);
		background-size: cover;
		background-position-x: center;
		background-color: unset;
		position: relative;
		margin-top: -350px;
		.col-xs-12 {
			position: relative;
			margin-top: 150px;
		}
		@-moz-document url-prefix() {
			.col-xs-12 {
				margin-top: 0px;
				@media screen and (min-width: 1920px) {
					margin-top: 70px;
				}
			}
		}
		&__text {
			padding-left: 125px;
		}
		&__localizacao {
			iframe {
				width: 415px;
				height: 255px;
			}
			&__text {
				text-align: right;
				margin-right: 30px;
			}
		}
	}
	@media screen and (min-width: 1920px) {
		margin-top: -250px;
	}
	form {
		@media screen and (min-width: 992px) {
			margin-top: 35px;
		}
		input, textarea, button {
			margin-bottom: 20px;
			background-color: transparent;
			border-style: solid;
			border-color: #000;
			color: #000;
		}
		.col-md-6 {
			padding: 0;
		}
		@media screen and (min-width: 992px) {
			.assunto-contato {
				margin-left: 5px;
			}
			.email-contato, .assunto-contato {
				width: 98%;
			}
			.btn-contato {
				width: 150px;
				float: right;
			}
		}
	}
	&__text h1 {
		text-align: center;
		color: #000;
		margin-top: -290px;

		@media screen and (min-width: 992px) {
			text-align: left;
			margin-top: unset;
		}
	}
	&__text p {
		text-align: justify;
		color: #000;
		@media screen and (min-width: 992px) {
			text-align: left;
		}
	}
	.g-recaptcha {
		transform: scale(0.9);
		margin-left: -10px;
		margin-top: -15px;
	}
}

.page-footer {
	position: unset;

	.footer-copyright {
		background-color: #006869;
		height: auto;
		p {
			color: #fff;
			padding-top: 18px;
			text-align: center;
		}
		.direitos {
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 5px;

			@media screen and (min-width: 992px) {
				font-size: 16px;
				padding-top: 18px;
			}
		}
		@media screen and (min-width: 992px) {
			height: auto;
			p {
				text-align: unset;
			}
			.col-md-4 p
			{
				padding-left: 10px;
			}
			.col-md-5 p {
				padding-left: 55px;
			}
		}
	}
}

