@mixin clearfix {
    zoom: 1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

@mixin font-face($style-name, $file) {
	$filepath: "../fonts/" + $file;
	@font-face {
		font-family: $style-name;
		src: url('#{$filepath}.eot');
		src: url('#{$filepath}.eot?#iefix') format('embedded-opentype'),
		url('#{$filepath}.woff') format('woff'),
		url('#{$filepath}.ttf') format('truetype'),
		url('#{$filepath}.svg##{$style-name}') format('svg');
	}
}

@mixin item-width($mobile: 48%, $tablet: 30%, $desktop: 18%){
    width: $mobile;

    @media screen and (min-width: 768px){
        width: $tablet;
    }

    @media screen and (min-width: 992px){
        width: $desktop;
    }
}
