$colors: (
    cinza: (
        base: #9B9B9B,
        light: lighten(#9B9B9B, 15%),
        dark: darken(#9B9B9B, 15%),
        trans: transparentize(#9B9B9B, 0.5)
    ),

    amarelo: (
        base: #FDD900,
        light: lighten(#FDD900, 15%),
        dark: darken(#FDD900, 15%),
        trans: transparentize(#FDD900, 0.5)
    ),

    verde: (
        base: #076A2B,
        light: lighten(#076A2B, 15%),
        dark: darken(#076A2B, 15%),
        trans: transparentize(#076A2B, 0.5)
    ),
);

@function color($cor, $variacao) {
    @return map-get(map-get($colors, $cor), $variacao);
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

$azul-padrao: #36cdfe;
