<!-- Prepended text-->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required) {%> *<% } %></label>

    <div class="input-group">
      <input id="<%= id %>" name="<%= id %>" class="form-control" placeholder="<%= placeholder %>" type="text"<% if(required) {%> required <% } %> />
      <span class="input-group-addon"><%= append %></span>
    </div>
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
</div>
