<!-- Multiple Radios -->
<div class="form-group">
  <label for="<%= id %>"><%= label %><% if(required){ %> *<% } %></label>
  <div class="clearfix"></div>
	<% _.each(radios, function(radio, i){ %>
    <label class="radio-inline" for="<%= id+'-'+i %>">
		<input type="radio" name="<%= id %>" id="<%= id+'-'+i %>" value="<%= radio %>"  <% if (i < 1) { %> checked="checked" <% } %><% if(required){ %> required="required"<% } %>>
		<%= radio %>
	</label>
	<% }); %>
</div>