<div class="form-group">
<label><%= label %></label>
<select class="form-control field" data-type="<%= type %>" id='<%= name %>'>
<% _.each(value, function(v,k){ %>
  <option value="<%= v["value"] %>" <% if (v["selected"]){ %> selected <% } %> ><%= v["label"] %></option>
<% }); %>
</select>
</div>
