<div class="form-group">
	<label class="checkbox">
	  <input type="checkbox" data-type="<%= type %>" class="input-inline field" name="<%= name %>" id="<%= name %>"<% if(value) {%> checked="checked" <% } %>>
	  <%= label %>
	</label>
</div>