<form class="form">
    <% var compiled =  _.reduce(items, function(str, v, k){ %>
      <% v["name"] = k; %>
      <% return str + popoverTemplates[v["type"]](v); %>
    <% }, "") %>
    <%= compiled %>
    <hr/>
    <button id="save" class="btn btn-info">Salvar</button><button id="cancel" class="btn btn-danger">Cancel</button>
</form>
